# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml

# user files
exercise/test/
/cmake-build-debug
/debug

*_false.cpp
*_bad.cpp