# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml

# user files
/cmake-build-debug
/debug
/test
/CMakeFiles

*_false.cpp
*_bad.cpp

Makefile
Main
LeetCode.cbp
CMakeCache.txt
